<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingBoyMapper">

    <select id="selectAll" resultType="tws.entity.ParkingBoy">
        select * from `parking_boy`;
    </select>

    <insert id="insert">
       insert into `parking_boy` (`parkingBoyID`,`parkingBoyName`,`parkingBoyAge`)
       values(#{parkingBoy.parkingBoyID},#{parkingBoy.parkingBoyName},#{parkingBoy.parkingBoyAge});
    </insert>

	<select id="selectParkinglotOfOneParkingboy">
	select parkingLotID from `parking_lot` where parkingLotID = #{parkingLotID};
	</select>
	
	
</mapper>